mixin servicios(x)
  .columns
    each val in x
      .column
        a(href="#",class="post-nav",data-img="#{val.img}") #{val.n}

mixin section1(img,title,p,ser)
  .columns.mt-2em-important
    .column
      if(ser)
        img(src="#{img}", class="change img")
      else
        img(src="#{img}", class="img")
    .column
      h2.titles.borde.pl-1em #{title}
      .pl-1em
        p.ps.mb-2em.pl-1em #{p}
        if(ser)
          +servicios([{n:"Alarmas",img:"img/elec-alarm.png"},{n:"Equipos CCTV",img:"img/elec-cctv.png"},{n:"Monitoreo",img:"img/elec-monitoreo.png"}])
          +servicios([{n:"Sensores de panico",img:"img/elec-panic.png"},{n:"Detectores de Metales",img:"img/elec-metal.png"},{n:"Control de Marcas",img:"img/img5.png"}])
        
mixin section2(img,title,p)
  .columns.mt-2em-important
    .column
      h2.titles.borde.pl-1em #{title}
      each val in p
        .pl-1em
          p.ps.mb-1em.pl-1em #{val}

    .column
      img(src="#{img}",class="img")
